<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title><%= title %></title>
	<link rel="stylesheet" href="<%= codemirrorPath %>/codemirror.css">
	<link rel="stylesheet" href="<%= adminPath %>/styles/keystone.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<%# React Mount Element %>
<div id="react-root"></div>

<!--CUSTOM EDITION MODAL-->
<div class="modal hide fade" id="cannaboidsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Cannaboid values</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button id="saveCannaboids" type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<!--CUSTOM CSV IMPORT MODAL-->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Import data from CSV file</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="dropzone" id="csvDropzone">
					<div class="fallback">
						<input type="file" name="file" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="sendFile" type="button" class="btn btn-primary">Confirm & Import</button>
			</div>
		</div>
	</div>
</div>


<%# Keystone Config %>
<script>
	var Keystone = <%- JSON.stringify(keystone) %>;
</script>
<%# Old jQuery, editor and Cloudinary scripts %>
<script src="<%= adminPath %>/js/lib/jquery/jquery-1.10.2.min.js"></script>
<% if (fieldTypes.wysiwyg) { -%>
<script src="<%= adminPath %>/js/lib/tinymce/tinymce.min.js"></script>
<% if (cloudinaryScript) { -%>
<script src="<%= adminPath %>/js/lib/jqueryfileupload/vendor/jquery.ui.widget.js"></script>
<script src="<%= adminPath %>/js/lib/jqueryfileupload/jquery.iframe-transport.js"></script>
<script src="<%= adminPath %>/js/lib/jqueryfileupload/jquery.fileupload.js"></script>
<script src="<%= adminPath %>/js/lib/cloudinary/jquery.cloudinary.js"></script>
<%- cloudinaryScript %>
<% } } -%>
<% if (fieldTypes.code) { -%>
<script src="<%= codemirrorPath %>/codemirror-compressed.js"></script>
<% } -%>
<script src="<%= adminPath %>/js/packages.js"></script>
<script src="<%= adminPath %>/js/fields.js"></script>
<script src="<%= adminPath %>/js/admin.js"></script>
<% if (env === 'production' && ga.property && ga.domain) { -%>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', '<%= ga.property %>', '<%= ga.domain %>');
	ga('send', 'pageview');
</script>
<% } -%>

<!-- custom admin UI script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script defer src="/js/admin/custom.js"></script>
<script defer src="/js/admin/inject-element.js" ></script>
</body>
</html>
